@{
    ViewBag.Title = "Contact";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<section class="contact">
    <header>
        <h3>Controls</h3>
    </header>
    <input type="button" value="List" class="first" id="list" />
    <input type="button" value="Add" class="first" id="add" />
        <input type="button" value="Update" class="first" id="update" />
        <input type="button" value="Delete" class="first" id="btnDelete" />
</section>
